{% extends "layout.html" %}


{% block styles %}

<style>

    
/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:transparent;
}

/* .page_404  img{ width:100%;} */

.four_zero_four_bg{
 
 background-image: url("{{url_for('static', filename='404.gif')}}");

    height: 60vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			
	.contant_box_404{ margin-top:-50px;}
</style>

{% endblock %}

{% block content %}
<section class="page_404">
	<div class="container">
		<div class="row">	
		<div class="col-sm-12 text-center">
		<div class="four_zero_four_bg">
			<h1 class="text-center ">404</h1>
		
		
		</div>
		
		<div class="contant_box_404">
		<h3 class="h2">
		Look like you're lost
		</h3>
		
		<p>the page you are looking for not avaible!</p>
		
		<a href="/" class="btn bg-primary btn-block text-white" data-bs-theme="dark">Go to Home</a>
	</div>
	
		</div>
		</div>
	</div>
</section>
{%endblock %}