{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='css/authStyle.css')}}">
{% endblock %}

{% block content %}

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center">
        <img src="{{url_for('static', filename='signup.png')}}" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
            <h3>Sign Up</h3>
            <p class="mb-4">
              Welcome to our URL shortener website! Our service allows you to shorten long URLs into shorter, more manageable links.
            </p>
          </div>

                  <form method="POST" action="/signup">
                    {{ form.csrf_token }}
                   
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        {% if form.first_name.errors %}  
                           {% for error in form.first_name.errors %}
                           <p  class="text-danger">{{ error }}</p> 
                           {% endfor %}
                        {% endif %}
                        <div class="form-group form-floating pb-0 border bg-white">
                          {{form.first_name(class="form-control", id="floatingInput", placeholder="John")}}
                          <label for="floatingInput">First Name</label>
                        </div>
      
                      </div>
                      <div class="col-md-6 mb-4">
                        
                        {% if form.last_name.errors %}  
                           {% for error in form.last_name.errors %}
                           <p  class="text-danger">{{ error }}</p> 
                           {% endfor %}
                        {% endif %}
                        <div class="form-group form-floating pb-0 border bg-white">
                          {{form.last_name(class="form-control", id="floatingInput", placeholder="Doe")}}
                          <label for="floatingInput">Last Name</label>
                        </div>
                      </div>
                    </div>
    
                    <div class=" form-outline mb-4 pb-0">
                      {% if form.email.errors %}  
                           {% for error in form.email.errors %}
                           <p  class="text-danger">{{ error }}</p> 
                           {% endfor %}
                        {% endif %}
                      <div class="form-group form-floating pb-0 border bg-white">
                        <label for="floatingInput">Email</label>
                        {{form.email(class="form-control", id="floatingInput", placeholder="johndoe@gmail.com")}}
                      </div>
                    </div>
    
                    <div class=" form-outline mb-4">
                      {% if form.password.errors %}  
                           {% for error in form.password.errors %}
                           <p  class="text-danger">{{ error }}</p> 
                           {% endfor %}
                        {% endif %}
                      <div class="form-group form-floating pb-0 border bg-white">
                        <label for="floatingInput">Password</label>
                        {{form.password(class="form-control", id="floatingInput", placeholder=".....")}}
                      </div>
                    </div>
    
                    <div class=" form-outline mb-4">
                      {% if form.confirm_password.errors %}  
                           {% for error in form.confirm_password.errors %}
                           <p  class="text-danger">{{ error }}</p> 
                           {% endfor %}
                        {% endif %}
                      <div class="form-group form-floating pb-0 border bg-white">
                        <label for="floatingInput">Confirm Password</label>
                        {{form.confirm_password(class="form-control", id="floatingInput", placeholder="....")}}
                      </div>
                    </div>
    
                    
    
                    <button type="submit" class="btn btn-primary btn-block w-100 mb-4">
                      Sign up
                    </button>

                    <span class="d-block  text-left my-4 text-muted">&mdash; Already have an account? <a href="{{url_for('webAuth.login')}}"> Login </a> &mdash;</span>
              
    
                    
                  </form>
      
          </div>
        </div>
        
      </div>
      
    </div>
  </div>
</div> 


 {% endblock %}